.wrapper{
    background: radial-gradient(farthest-side circle at bottom,#c6d6f7ca, #bfd6fdaa ,#e6e5e5);
    padding-bottom: 30px;
    height: 800px;
  
  
    // .left-box{
    //     background-color:#b8aeae;
    //     width: 80px;
    //     border: 4px solid #332c2c88;
    // }
    .container{
        
        padding:20px 20px 50px 20px ;
        width: 90%;
        margin-bottom: 30px;
        border-radius: 25px;
        // border: 4px solid #332c2c88;
        background-color:#bababa49 ;
       
        // box-shadow: -8px 0 0 #b8aeae;
        margin: 0 auto;
    }
}