.btn-manage{
    width: 130px;
    height: 65px;
    border: none;
    background-color: #b8aeae00;
    font-family: 'Baloo 2', sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    border-radius: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-right: 10px;
    cursor: pointer;
    &:hover {
        background-color: #d2d2d2;
        
        border-radius: 35px 35px 0 0;
    }
    &.active {
        background-color: #ffffffbc; /* Màu khi đang ở trang hiện tại */
        color: rgb(10, 10, 10);
        font-weight: bold;
        border-radius: 35px 35px 0 0;
       
        
    }
}